
Reciever/Reciever/.vs/Reciever/v16/.suo
Reciever/Reciever/.vs/Reciever/v16/Browse.VC.db
Reciever/Reciever/.vs/Reciever/v16/Browse.VC.db-shm
Reciever/Reciever/.vs/Reciever/v16/Browse.VC.db-wal
Reciever/Reciever/.vs/Reciever/v16/Browse.VC.opendb
Reciever/Reciever/.vs/Reciever/v16/ipch/AutoPCH/992da5f9c0ecd5fc/RECEIVER.ipch
Reciever/Reciever/Debug/Receiver.obj
Reciever/Reciever/Debug/Reciever.exe
Reciever/Reciever/Debug/Reciever.exe.recipe
Reciever/Reciever/Debug/Reciever.ilk
Reciever/Reciever/Debug/Reciever.log
Reciever/Reciever/Debug/Reciever.pdb
Reciever/Reciever/Debug/Reciever.tlog/CL.command.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/CL.read.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/CL.write.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/link.command.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/link.read.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/link.write.1.tlog
Reciever/Reciever/Debug/Reciever.tlog/Reciever.lastbuildstate
Reciever/Reciever/Debug/Reciever.vcxproj.FileListAbsolute.txt
Reciever/Reciever/Debug/Sender.exe
Reciever/Reciever/Debug/vc142.idb
Reciever/Reciever/Debug/vc142.pdb
Reciever/Reciever/Receiver.cpp
Reciever/Reciever/Reciever.sln
Reciever/Reciever/Reciever.vcxproj
Reciever/Reciever/Reciever.vcxproj.filters
Reciever/Reciever/Reciever.vcxproj.user
Sender/BSM_SignalProvider.c
sender_vs/Sender/.vs/Sender/v16/.suo
sender_vs/Sender/.vs/Sender/v16/Browse.VC.db
sender_vs/Sender/.vs/Sender/v16/Browse.VC.db-shm
sender_vs/Sender/.vs/Sender/v16/Browse.VC.db-wal
sender_vs/Sender/.vs/Sender/v16/Browse.VC.opendb
sender_vs/Sender/.vs/Sender/v16/ipch/AutoPCH/3c749a848754fbc3/BSM_TESTDOUBLES.ipch
sender_vs/Sender/.vs/Sender/v16/ipch/AutoPCH/62e995fd116fa21b/MAIN.ipch
sender_vs/Sender/.vs/Sender/v16/ipch/AutoPCH/66cc218bbf7fdeac/BSM_SIGNALPROVIDER.ipch
sender_vs/Sender/.vs/Sender/v16/ipch/AutoPCH/c78f9c7311c7053c/TEST-VALIDATION.ipch
sender_vs/Sender/Debug/BSM_SignalProvider.obj
sender_vs/Sender/Debug/main.obj
sender_vs/Sender/Debug/Sender.exe
sender_vs/Sender/Debug/Sender.exe.recipe
sender_vs/Sender/Debug/Sender.ilk
sender_vs/Sender/Debug/Sender.log
sender_vs/Sender/Debug/Sender.pdb
sender_vs/Sender/Debug/Sender.tlog/CL.command.1.tlog
sender_vs/Sender/Debug/Sender.tlog/CL.read.1.tlog
sender_vs/Sender/Debug/Sender.tlog/CL.write.1.tlog
sender_vs/Sender/Debug/Sender.tlog/link.command.1.tlog
sender_vs/Sender/Debug/Sender.tlog/link.read.1.tlog
sender_vs/Sender/Debug/Sender.tlog/link.write.1.tlog
sender_vs/Sender/Debug/Sender.tlog/Sender.lastbuildstate
sender_vs/Sender/Debug/Sender.vcxproj.FileListAbsolute.txt
sender_vs/Sender/Debug/vc142.idb
sender_vs/Sender/Debug/vc142.pdb
sender_vs/Sender/Sender.sln
sender_vs/Sender/Sender.vcxproj
sender_vs/Sender/Sender.vcxproj.filters
sender_vs/Sender/Sender.vcxproj.user
Sender/BSM_SignalProvider.c
